<%= form_with model: @article, url: [@user, @article], local: true do |form| %>

<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "erreur") %>
      empêche l'enregistrement de cet article:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="col s10 offset-s1">
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
</div>

<div class="col s10 offset-s1">
  <p>
    <%= form.label :heading %><br>
    <%= form.text_area :heading, class: "materialize-textarea" %>
  </p>
</div>

<div class="col s10 offset-s1">
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "materialize-textarea"%>
  </p>
</div>

<div class="col s10 offset-s1">
<div class="file-field input-field gallery_picture">
      <div class="btn">
        <span>Image</span>
            <%= form.file_field :image, class: "file-path-wrapper" %>
      </div>
      <input class="file-path validate" type="text"/>
</div>
</div>

<div class="col s11 offset-s1">
  <div class="btn waves-effect waves-light actions" id="submit" type="submit" name="action">
    <i class="material-icons right">send</i><%= form.submit %>
  </div>
</div>



<% end %>
