<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>
 
  <p>
    <%= form.label :heading %><br>
    <%= form.text_area :heading %>
  </p>
 
 <p>
  <%= form.label :published %>
    <%= form.date_field :published %>
  <p>

    <%= form.submit %>
  </p>
<% end %>