<div class="row">
   <div class="parallax-container">
      <div class="parallax"><img class="responsive-img" src="<%= @article.image %>"></div>
    </div>

  <div class="col s12 center-align">
    <h3><%= @article.title %></h3>

    <div class="col s6 offset-s3">
     <p> <%= @article.heading %> </p>
        <div class="divider"></div>
    </div>

    <div class="col s6 offset-s3">
     <p> <%= @article.text %> </p>
    </div>

    <div class="col s7">
      <strong>Auteur:</strong>
      <%= link_to user_path(@article.user) do @article.user.name end %>, publié le <%= @article.published %>
    </div>
  </div>

<%- if current_user == @article.user && user_signed_in? %>
  <div class="col s12 offset-s5">
    <div class="btn waves-effect waves-light actions">
      <%= link_to 'Edit', edit_article_path(@article) %>
    </div>
    <div class="btn waves-effect waves-light actions">
      <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="btn waves-effect waves-light actions">
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
  <%- end %>

</div>
