<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
      <%= link_to "New user", new_user_registration_path %>

<% if user_signed_in? %>
  <li>
  <p>Bienvenue  <%= link_to user_path(current_user) do current_user.name end %></p>
 
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>    
  <%= link_to "Edit user", edit_user_path(current_user) %>    
  </li>
    <%= link_to 'New article', new_article_path %>

<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

      </div>
      <div class="card-action">
        <%= link_to 'My Blog', controller: 'articles' %>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col s12 m7">
      <%- @articles.each do |article| %>
    <div class="card">
        <span class="card-title">Titre : <%= article.title %></span>
      <div class="card-content">
       Extrait article : <%= article.heading %> <br>
     Auteur : <%= link_to user_path(article.user) do  article.user.name end %><br>
      </div>
      <div class="card-action">
        <%= link_to 'Show', article_path(article) %>
      </div>
    </div>
    <%- end %>
  </div>
</div>
