<div class="row">
  <% @articles.each do |article| %>
    <div class="col s12 m4">
      <div class="card large">
        <div class="card-image">
          <img src="<%= article.image.small %>">
          <span class="card-title"><%= article.title %></span>
          <%- if current_user == article.user && user_signed_in? %>
            <div class="fixed-action-btn vertical click-to-toggle" style="position: absolute; right: 19px;">
              <a class="btn-floating btn-large red">
                <i class="material-icons">menu</i>
              </a>
              <ul>
                <li>
                    <%= link_to raw("<i class=\"material-icons\">edit</i>"), edit_article_path(article), class: "btn-floating red"%>
                </li>
                <li>
                    <%= link_to raw("<i class=\"material-icons\">delete</i>"), article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn-floating blue"%>           
                </li>
              </ul>
            </div>
            <%- end %>
            </div>
            <div class="card-content">
              <p><%= article.heading %></p>
              <p>Publié le :
                <%= article.created_at_before_type_cast %>
                <p>Par : <%= link_to user_path(article.user) do article.user.name end %></p>
              </div>
              <div class="card-action">
                <%= link_to 'Lire la suite', article_path(article) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
